.agencyDiv {
    height: 250px;
    width: 250px;
    background-color: rgb(221, 220, 220);
    border-radius: 10px;
    cursor: pointer;
}

.agencyDiv img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.divTop {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.divBottom {
    height: 50%;
    width: 100%;
}

.divBottomTxt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    margin-top: 5px;
}